body {
  background-image: url("http://www.fondosblackberry.com/user-content/uploads/wall/o/86/Plaza_Mayor_Lima_Peru.JPG");
  background-size: cover;
 

  /* fallback for old browsers */
  display: flex;
  margin: 0;
  padding: 0%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.form {
  background: #ffffff;
  -webkit-box-shadow: 6px 6px 26px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 26px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 26px 1px rgba(0, 0, 0, 0.75);
  width: 100%;
  border-radius: 10px;
  align-content: center;
  padding: 40px 0px;
  margin-top: 10%;
}

button {
  cursor: pointer;
  border: none;
  width: 60%;
  background: #011849;
  color: #ffffff;
  height: 30px;
  margin: 10px;
}

.ipt {
  border: none;
  width: 80%;
  border-bottom: 1px solid #2b2b2b;
  margin: 20px 20px;
  height: 20px;
}
.ipt:hover {
  background: #83838341;
}

button:hover {
  background: #021583;
}

img{
  width: 30%;
  height: 100px;
}

.mod{
   background: rgb(255, 255, 255);
   color: rgb(0, 0, 0);
   position: fixed;
   top: 12%;
   left: 26vw;
   border: 1px solid black;
   padding: 10px 10px;
   justify-content: center;
   height: 80%;
   width: 40%;
   transition: all .5s;
   -webkit-box-shadow: -186px 86px 300px 200px rgba(0,0,0,0.75);
   -moz-box-shadow: -186px 86px 300px 200px rgba(0,0,0,0.75);
   box-shadow: -186px 86px 300px 200px rgba(0, 0, 0, 0.89);
   
  }

  .btnModal{
    width: 50%;
  }

  .carnet{
    padding-top: 20px;
    background: hsla(202, 94%, 87%, 0.906);
    border: 1px solid black;
    height: 80%;
    justify-content: center;
  }

/* *{
  padding: 0;
  margin:0;
}

.noteHeader{
  background-color: rgba(0,0,0, .6);
  padding: 20px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.noteHeader{
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

.logo{
  float: left;
}

.btnSignUp{
  float: right;
  margin-right: 100px;
  border-color: rgb(248, 24, 73);
  border-radius: 5px;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent !important;
  color:#ffffff;
}

.btnSignUp:hover{
   color: #FFAFBD;
   border-color: #a336ce;
}

.noteBody{
  float: center;
  margin: 30px 20px 30px 250px;
  padding: 20px 10px 20px 150px;
  
}

aside{
  background: #FFAFBD;
	float: left;
  width: 310px;
  padding-top:2%;
  text-align: center;
  height: 100vh;
  
}

.notesContainer{
  text-align: center;
  margin-top: 100px;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
  color: #ffffff;
  padding-right: 10%;
}

.init{
  color: #000000;
  text-align: center;
}

.icon{
  color: #000000;
}

.btn{
  text-align: center;
  margin-top: 100px;
  border-color: rgb(248, 24, 73);
  border-radius: 5px;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent !important;
}

.btn:hover{
  border-color: rgb(76, 3, 110);
  color: rgb(101, 3, 146);
}


i{
  margin-left: 25px;
  color: #ffffff;
  
}

img{
  border-radius: 100%;
  float: center;
  width: 50%;
} */
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */