body {
  background: rgb(3, 138, 148);
  /* fallback for old browsers */
  display: flex;
  margin: 0;
  padding: 0%;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.form {
  background: #ffffff;
  width: 100%;
  border-radius: 10px;
  align-content: center;
  padding: 50px 0px;
  margin-top: 10%;
}

button {
  cursor: pointer;
  border: none;
  width: 60%;

}

.ipt {
  border: none;
  width: 80%;
  border-bottom: 1px solid #2b2b2b;
}

.ipt:hover{
  background: #c7fff67e;
}

/* *{
  padding: 0;
  margin:0;
}

.noteHeader{
  background-color: rgba(0,0,0, .6);
  padding: 20px;
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.noteHeader{
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

.logo{
  float: left;
}

.btnSignUp{
  float: right;
  margin-right: 100px;
  border-color: rgb(248, 24, 73);
  border-radius: 5px;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent !important;
  color:#ffffff;
}

.btnSignUp:hover{
   color: #FFAFBD;
   border-color: #a336ce;
}

.noteBody{
  float: center;
  margin: 30px 20px 30px 250px;
  padding: 20px 10px 20px 150px;
  
}

aside{
  background: #FFAFBD;
	float: left;
  width: 310px;
  padding-top:2%;
  text-align: center;
  height: 100vh;
  
}

.notesContainer{
  text-align: center;
  margin-top: 100px;
  font-family: 'Indie Flower', cursive;
  font-size: 46px;
  color: #ffffff;
  padding-right: 10%;
}

.init{
  color: #000000;
  text-align: center;
}

.icon{
  color: #000000;
}

.btn{
  text-align: center;
  margin-top: 100px;
  border-color: rgb(248, 24, 73);
  border-radius: 5px;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent !important;
}

.btn:hover{
  border-color: rgb(76, 3, 110);
  color: rgb(101, 3, 146);
}


i{
  margin-left: 25px;
  color: #ffffff;
  
}

img{
  border-radius: 100%;
  float: center;
  width: 50%;
} */
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */